@media (min-width: 320px) and (max-width: 480px) /* Mobile */ {
  header {
    flex-direction: column;
    max-height: max-content;
  }

  .nav-bar {
    flex-direction: column;
  }

  header li {
    margin: 0.4em 0;
    text-align: center;
  }

  #header-img {
    margin: 0.5rem 0;
  }

  #box {
    margin: 12rem auto 3rem auto;
  }

  .icon {
    display: none;
  }

  .Features-boxs {
    text-align: center;
  }

  .Features-boxs p {
    margin: 0.3em 0 0 0;
  }

  #Pricing {
    flex-direction: column;
  }

  .product {
    margin: 0.3em auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) /* Tablet */ {
  header li {
    margin: 0 1rem;
  }

  #header-img {
    margin: 0 0 0 3rem;
  }

  i {
    margin: unset;
  }

  .icon {
    text-align: center;

    width: 9em;
  }

  #Pricing {
    flex-direction: column;
  }

  .product {
    width: 18rem;
    margin: 0.3em auto;
  }
}
