@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comfortaa", cursive;
}

/* nav links
     and
    header 
*/

header {
  position: fixed;
  top: 0;
  height: max-content;
  max-height: 5.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.nav-bar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

header li {
  margin: 0 4rem;
}

.nav-link:link {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.nav-link:visited {
  color: inherit;
}

.nav-link:active {
  color: inherit;
}

#header-img {
  width: 280px;
  margin: 0 0 0 4rem;
}

/* 
     END OF
   nav links
     and
    header 
*/

/*************
      main 
 ****************** */

#box {
  width: 95%;
  max-width: 63rem;
  margin: 5.6rem auto;
}

/* FORM */

form {
  text-align: center;
}

form h1 {
  font-size: x-large;
}

input[type="email"] {
  font-family: inherit;
  width: 17rem;
  height: 1.7rem;
}

input[type="submit"],
button {
  border: none;
  background: rgb(15, 143, 133);
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: large;
  padding: 0.5em 1em;
}

input[type="submit"]:hover,
button:hover {
  background: rgb(32, 184, 171);
  transition: background-color 1s;
}
/* END OF FORM */

/* Features */

.Features-box {
  margin: 5em 0 0 0;
  display: flex;
}

.Features-box div {
  width: 47em;
  margin: 0 0 0 auto;
}

i {
  color: rgb(15, 143, 133);
  padding: 0;
  margin: 0 0 0 2em;
}

/* END OF FEATURES */

/* How It Works
 */

#video {
  width: 100%;
  max-width: 100%;
  margin: 5em 0;
  text-align: center;
}

iframe {
  border: none;
  max-width: 35em;
  width: 100%;
}

/* end of How It Works
 */

/*  Pricing */

#Pricing {
  display: flex;
  justify-content: space-between;
}

.product {
  border: black solid 1px;
  border-radius: 5px;
  text-align: center;
  width: 20rem;
}

.product h2 {
  font-size: larger;
  background: rgb(32, 184, 171);
  color: white;
  padding: 0.6em 0;
}

.product h1 {
  padding: 0.9em 0;
  font-size: x-large;
}

.product p {
  padding: 0.5em 0;
}

.product button {
  margin: 1em 0;
}

/* ***************
END OF MAIN
**************** */

/* FOOTER STARTS */

footer {
  background: rgb(32, 184, 171);
  width: 95%;
  max-width: 63rem;
  margin: 5.6rem auto 0 auto;
  padding: 1em 0;
}

span {
  font-size: small;
  margin: 0.3em 0.8em 0 0;
  display: flex;
  justify-content: flex-end;
}

footer li {
  margin: 0 1em 0 0;
}
